  <tr>
    <td scope = "row"><%= work.client_id %></td>
    <td scope = "row"><%= work.note %></td>
    <td scope = "row"><%= work.hours %></td>
    <% work.update_attribute(:money, (work.hours * @client.tarif)) %>
    <td scope = "row"><%=  work.money %>€</td>
    <% if (work.billed == true) %>
    <td scope = "row"><span class="glyphicon glyphicon-ok"></span></td>
    <td></td>
    <% else %>
    <td scope = "row"><span class="glyphicon glyphicon-remove"></span></td>
    <td><%= link_to 'pay', pay_client_work_path(work.client, work), method: :pay, :class=>"btn btn-success btn-sm"%></td>
    <% end %>

    <td><%= link_to 'Edit', edit_client_work_path(work.client, work),  :class=>"btn btn-primary btn-sm"%></td>
    <td><%= link_to 'Destroy', client_work_path(work.client, work), method: :delete, data: { confirm: 'Are you sure?' },  :class=>"btn btn-danger btn-sm"%></td>
  </tr>
