<%= form_with(model: client, local: true) do |form| %>
  <% if client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
      <% client.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :client_name, :class=> "form-control", :placeholder=> "First name" %>
  </div>

  <div class="field">
    <%= form.label :surname %>
    <%= form.text_field :surname, id: :client_surname, :class=> "form-control", :placeholder=> "Last name" %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.text_field :age, id: :client_age, :class=> "form-control", :placeholder=> "18"%>
  </div>

  <div class="field">
    <%= form.label :tarif %>
    <%= form.text_field :tarif, id: :client_tarif, :class=> "form-control", :placeholder=> "8"%>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :client_email, :class=> "form-control", :placeholder=> "FirstName@gmail.com"%>
  </div>

  <div class="actions">
    <%= form.submit :class=>"btn btn-primary" %>
  </div>

<% end %>
