<p id="notice"><%= notice %></p>
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav pull-right">
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'New client', new_client_path %></li>
      </ul>
    </nav>
  </div>
<div class="center jumbotron">
<table class ="table table-striped">
  <thead>
    <tr>
      <th scope = "col">ID client</th>
      <th scope = "col">Name</th>
      <th scope = "col">Surname</th>
      <th scope = "col">Age</th>
      <th scope = "col">Hours</th>
      <th scope = "col">Email</th>
      <th scope = "col">Invoice</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td scope = "row"><%= client.id %></td>
        <td scope = "row"><%= client.name %></td>
        <td scope = "row"><%= client.surname %></td>
        <td scope = "row"><%= client.age %></td>
        <td scope = "row"><%= client.hours %></td>
        <td scope = "row"><%= client.email %></td>
        <td scope = "row"><% %></td>
        <td><%= link_to 'Show', client %></td>
        <td><%= link_to 'Edit', edit_client_path(client) %></td>
        <td><%= link_to 'Destroy', client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<<<<<<< HEAD
</div>
<div class="footer">
  <h3> Sample app </h3>
</div>
=======

<br>


<%= link_to 'Home', root_path %>

<br>

<%= link_to 'New Client', new_client_path %>
>>>>>>> 204df8a64f451f339b7cd3e8782d16a5b4dd5c45
