<p id="notice"><%= notice %></p>
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <p class = "logo"> billing system </p>
    <nav>
      <ul class="nav navbar-nav pull-right">
        <li><%= link_to 'New client', new_client_path %></li>
        <li><%= link_to 'Home', root_path %></li>
      </ul>
    </nav>
  </div>
<div class="center jumbotron">
<h1> Clients: </h1>
<table class ="table table-striped">
  <thead>
    <tr>
      <th scope = "col">ID client</th>
      <th scope = "col">Name</th>
      <th scope = "col">Surname</th>
      <th scope = "col">Age</th>
      <th scope = "col">tarif</th>
      <th scope = "col">Total hours</th>
      <th scope = "col">B. hours</th>
      <th scope = "col">Unb. Hours</th>
      <th scope = "col">B. money</th>
      <th scope = "col">Un. money</th>
      <th scope = "col">Email</th>
      <th scope = "col">Works</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td scope = "row"><%= client.id %></td>
        <td scope = "row"><%= client.name %></td>
        <td scope = "row"><%= client.surname %></td>
        <td scope = "row"><%= client.age %></td>
        <td scope = "row"><%= client.tarif %> €/h</td>
        <td scope = "row"><%= client.total_hours %></td>
        <td scope = "row"  class = "text-success"><%= client.billed_hours %></td>
        <td scope = "row"  class = "text-danger"><%= client.unbilled_hours %></td>
        <td scope = "row"  class = "text-success"><%= client.billed_money %> €</td>
        <td scope = "row"  class = "text-danger"><%= client.unbilled_money %> €</td>
        <td scope = "row"><%= client.email %></td>
        <td scope = "row"><%= client.works.count %></td>
        <td><%= link_to 'show', client, :class=>"btn btn-success btn-sm"  %></td>

        <td><%= link_to 'Edit', edit_client_path(client), :class=>"btn btn-primary btn-sm" %></td>
        <td><%= link_to 'Destroy', client, :class=>"btn btn-danger btn-sm", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<div class="footer">
  <h3> Sample app </h3>
</div>
